<h1>Stupid Coaching</h1>
<h2>Ask your coach anything</h2>


<form action="/answer" method="get">
  <input type="text" name="message" placeholder="What would you like to ask?" id="inputfiled">
  <input type="submit" value= "Go!" class=btn-submit>
</form>

